# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore files that start with _
_*

!PLAN
!LICENSE
!COPYING
!VERSION
!AUTHORS
!NEWS

### Above combination will ignore all files without extension ###
/junk/
/docs/
/lib/
/bin/
/.shards/
*.dwarf
cachegrind.out.*
callgrind.out.*
massif.out.*
flamegraph.svg
perf.data
perf.data.*
active.dev.wwml
